<head>
    <style type="text/css">
        .toobig{
            width : 500px;
            overflow:hidden;
            display:inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .showmore{
            display: inline;
        }

        .mythumbnail{
          /*width:100%;
          height:100%;*/
          max-width:200px;
          max-height:300px;
        }

    </style>
</head>


<div class="page-header">
	<h1>My Portfolio | {{port.name}}</h1>
</div>


<div class="jumbotron text-center" ng-show="allPorts.loading">
	<span class="glyphicon glyphicon-repeat spinner">
		<p>Loading...</p>
	</span>
</div>


<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Profile Picture</strong>
    </div>

    <div class="panel-body">
        <!-- uploads/images/1488297192855_lana.jpg -->
        <a href="{{port.profilePicture}}"" target="_blank"><img src="{{port.profilePicture}}"  class="img-rounded" width="200px" height="250px" ></a>
        <!--<img class="mythumbnail" src="{{ thumbnail.dataUrl || default}}">-->
        <!--<img class="mythumbnail" ng-src="{{ thumbnail.dataUrl || default}}">-->
        <br> <br>
        <form ng-submit="Submit();">
            <label class="btn btn-success">
                Browse
                <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)">
            </label>
            <button ng-disabled="uploading" type="submit" class="btn btn-primary">Upload</button>
        </form>

        <br>

        <div ng-show="message">
            <div ng-class="alert">{{ message }}</div>
        </div>

    </div>
</div>


<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Description</strong>
    </div>
    <div class="panel-body">
        {{port.description}}
        <br>
    </div>
        
</div>


<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Projects | Links</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr ng-repeat="link in port.links">
            <td> <a class="toobig" max href="{{ link }} "  target="_blank">{{ link }}</a> </td>
        </tr>
        <!-- End: Table -->

    </table>
</div>


<div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Project Link:</span>
            <input type="text" class="form-control" ng-model="port.portData.link">

        </div>
        
    </div>
</div>
<button type="button" ng-click="port.newLink(portData);" class="btn btn-success">Add Project</button>

<br><br>

<div class="row show-hide-message" ng-show="port.successMsg">
    <div class="alert alert-success">
        {{port.successMsg}}
    </div>
</div>

<div class="row show-hide-message" ng-show="port.errorMsg">
    <div class="alert alert-danger">
        {{port.errorMsg}}
    </div>
</div>


<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Projects | Screenshots </strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr ng-repeat="screenshot in port.screenshots">
            <td align="center"> <a href="{{screenshot}}" target="_blank"><img src="{{screenshot}}"  class="img-thumbnail" width="720px" height="480px" ></a> </td>
        </tr>

        <!-- End: Table -->

    </table>
</div>


<form ng-submit="SubmitScreenshot();">
            <label class="btn btn-success">
                Browse
                <input type="file" ng-disabled="uploadingScreenshot" file-model="file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)">
            </label>
            <button ng-disabled="uploadingScreenshot" type="submit" class="btn btn-primary">Upload</button>
</form>

<br>

<div class="row show-hide-message" ng-show="messageScreenshot">
    <div class="alert alert-info">
        {{messageScreenshot}}
    </div>
</div>


<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Projects | Code Repositories </strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr ng-repeat="rep in port.reps">
            <td> <pre>{{rep}}</pre>
        </tr>

        <!-- End: Table -->

    </table>
</div>

<div class="form-group">
  <label for="rep">New Code Repository:</label>
  <textarea class="form-control" rows="10" id="rep" ng-model="port.portData.rep"></textarea>
</div>


<button type="button" ng-click="port.newRep(portData);" class="btn btn-success">Add Project</button>

<br><br>


<div class="row show-hide-message" ng-show="port.messageRep">
    <div class="alert alert-info">
        {{port.messageRep}}
    </div>
</div>









